<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Player</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <section class="container">
            <div class="row logo">
                <img src="/static/logo.png" alt="logo">
                <h2>Video Player</h2>
            </div>
            <div class="row">
                <!-- video youtube-->
                <form action="/v/">
                    <div class="">
                        <div class="form-group">
                            <input type="url" name="url" required
                                placeholder="Enter Video URL" class="form-control">
                        </div>
                    </div> 
                    <div class="">
                        <div class="form-group">
                            <button class="btn btn-block btn-lg btn-info">
                                Submit <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Local Video Upload -->
                <div id="container__local__video">
                    <h1>Upload a Local Video</h1>
                    <form class="upload_from_local" method="POST" enctype="multipart/form-data">
                        <input type="file" class="" id="videoUpload" name="video" accept="video/*" />
                        <button type="submit" class="btn btn-block btn-lg btn-success">
                            Upload Video <i class="fas fa-upload"></i>
                        </button>
                    </form>
                </div>
            </div>

            <button id="recordButton" class="btn btn-primary">Start Camera Recording</button>
            <video id="preview" width="320" height="240" autoplay muted style="display: none;"></video>

        </section>
        <script>
            // Camera Recording
            const recordButton = document.getElementById('recordButton');
            const preview = document.getElementById('preview');
            let mediaRecorder;
            let recordedChunks = [];
            let isRecording = false;

            recordButton.addEventListener('click', async () => {
                if (!isRecording) {
                    try {
                        const stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
                        preview.srcObject = stream;
                        preview.style.display = 'block';
                        recordButton.textContent = 'Stop Recording';

                        mediaRecorder = new MediaRecorder(stream);
                        mediaRecorder.ondataavailable = event => {
                            if (event.data.size > 0) {
                                recordedChunks.push(event.data);
                            }
                        };
                        mediaRecorder.onstop = () => {
                            const blob = new Blob(recordedChunks, { type: 'video/webm' });
                            const a = document.createElement('a');
                            a.href = URL.createObjectURL(blob);
                            a.download = 'recorded-video.webm';
                            a.click();
                            preview.srcObject = null;
                            stream.getTracks().forEach(track => track.stop());
                            recordedChunks = [];
                            isRecording = false;
                            recordButton.textContent = 'Start Camera Recording';
                            preview.style.display = 'none';

                        };

                        mediaRecorder.start();
                        isRecording = true;

                    } catch (error) {
                        console.error('Error accessing camera:', error);
                    }
                } else {
                    mediaRecorder.stop();
                }
            });

        </script>
    </body>
</html>
